meta(http-equiv="Content-Type", charset="text/html; charset=utf-8")
meta(http-equiv="Content-Style-Type", content="text/css")
meta(name="language", content="en")

title= title

meta(name="author", content="cricscor.es")
meta(name="robots", content="index, follow")
meta(name="googlebot", content="index, follow")

link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/images/touch-icon-114x114.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/images/touch-icon-72x72.png")
link(rel="apple-touch-icon-precomposed", href="/images/touch-icon.png")
link(rel="shortcut icon", href="/images/icon.png")
link(rel="canonical", href="http://www.imgcrush.com/")
